<% content_for :title, "New Location" %>
<% breadcrumbs(["Home", root_path], ["Locations", locations_path], ["New Location", nil]) %>

<div class="max-w-2xl">
  <h1 class="text-2xl font-bold text-gray-900 dark:text-white mb-6">New Location</h1>
  <%= render "form", location: @location %>
</div>
